.main {
    padding-left: 200px;
    width: 1100px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.header {
    background-image: url(pattern.png);
    height: 100px;
    width: 1100px;
    background-repeat: repeat;
    background-color: rgb(97, 163, 255);
    background-size: contain;
    background-size: 35%;
}


.font-grey {
    color: gray;
}

.contenitor {
    margin-top: 180px;
   
}

.contenitor2 {
    background-image: url(monitor.jpg);
    background-repeat: no-repeat;
    width: 500px;
    height: 220px;
    color: aliceblue;
    font-size: larger;


     
}

.contenitor3 {
    background-image: url(graph.jpg);
    background-repeat: no-repeat;
    width: 500px;
    height: 200px;
    color: aliceblue;
    font-size: larger;


     
}
.font-small {
    font-size: small;
}


.tabletitle {
    background-color: rgb(61, 164, 228);
    width: 400px;
    text-align: left;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
}


.tablebody {
    background-color: lightblue;
    height: 60px;

    

}

.background-color {
    background-color: yellow;
}

#logo {
    text-align: left;
    width: 200px;
    margin-left: 0;
    margin-top: 40px;
}


#font-lightblu {
    color: deepskyblue;
    
}